ShowMarkClient/xml-resources/web-service-references/Mark/wsdl/localhost_8080/ShowMarkService/Mark.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.vunx.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.vunx.com/">

<xs:element name="showStudentInformation" type="tns:showStudentInformation"/>

<xs:element name="showStudentInformationResponse" type="tns:showStudentInformationResponse"/>

<xs:complexType name="showStudentInformation">
<xs:sequence>
<xs:element name="so_bao_danh" type="xs:string" minOccurs="0"/>
<xs:element name="ho_va_ten" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showStudentInformationResponse">
<xs:sequence>
<xs:element name="return" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="student">
<xs:sequence>
<xs:element name="diem_mon_1" type="xs:float"/>
<xs:element name="diem_mon_2" type="xs:float"/>
<xs:element name="diem_mon_3" type="xs:float"/>
<xs:element name="diem_trung_tuyen" type="xs:float"/>
<xs:element name="ho_va_ten" type="xs:string" minOccurs="0"/>
<xs:element name="khoi_nganh" type="xs:string" minOccurs="0"/>
<xs:element name="ngay_sinh" type="tns:date" minOccurs="0"/>
<xs:element name="so_bao_danh" type="xs:string" minOccurs="0"/>
<xs:element name="tong_diem" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="date">
<xs:sequence/>
</xs:complexType>
</xs:schema>